@media screen and (min-width: 1076px) {
  .Header__main__nav {
    display: none !important;
  }
}
.link__hover {
  text-decoration: none;
}
.link__hover:hover {
  text-decoration: none;
  color: #550808;
}

.logo__main {
  height: 60px;
}
.form-box {
  border: none;
  border-radius: none;
}
.form-box:focus {
  border: none;
  border-radius: none;
}
