.bg-secondary {
  background-color: #efefef !important;
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #e3e1e1 !important;
}
.text-dark {
  color: #1c1c1c !important;
}

a.text-dark:hover,
a.text-dark:focus {
  color: black !important;
}
.text-primary {
  color: #d19c97 !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #ba6a62 !important;
}

.btn-primary {
  color: #212529;
  background-color: #e2c958;
  border-color: #a0a3ad;
}

.btn-primary:hover {
  color: #fff;
  background-color: #daa805;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #fcc206;
  border-color: #c17a74;
  box-shadow: 0 0 0 0.2rem rgba(183, 138, 135, 0.5);
}
#C5837C .btn-primary.disabled,
.btn-primary:disabled {
  color: #212529;
  background-color: #a0a3ad;
  border-color: #a0a3ad;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #c17a74;
  border-color: #bd726b;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(183, 138, 135, 0.5);
}
.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #efefef;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f8f0ef;
  outline: 0;
  box-shadow: none;
}

.form-control::placeholder {
  color: #999999;
}
